<ion-tabs >
  <ion-tab icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="funnel" href="/tabs/(filter:filter)">
    <ion-router-outlet name="filter"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="barcode" href="/tabs/(barcode:barcode)">
    <ion-router-outlet name="barcode"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="person-add" href="/tabs/(person:person)">
    <ion-router-outlet name="person"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="share" href="/tabs/(share:share)">
    <ion-router-outlet name="share"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
